.list-inline{display:block;}
.list-inline li{display:inline-block;}
.list-inline li a:hover{
	-ms-transform: scale(1.2, 1.2); /* IE 9 */
    -webkit-transform: scale(1.2, 1.2); /* Safari */
    transform: scale(1.2, 1.2);
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}
.list-inline li:after{content:'|'; margin:0 10px;}

.navbar-default {
	background-color: #916ba5;
	border-color: #d9b6da;
}
.navbar-default .navbar-brand {
	color: #e8dce9;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #794878;
}
.navbar-default .navbar-text {
	color: #e8dce9;
}
.navbar-default .navbar-nav > li > a {
	color: #e8dce9;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #794878;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #794878;
	background-color: #d9b6da;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #794878;
	background-color: #d9b6da;
}
.navbar-default .navbar-toggle {
	border-color: #d9b6da;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #d9b6da;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #e8dce9;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #e8dce9;
}
.navbar-default .navbar-link {
	color: #e8dce9;
}
.navbar-default .navbar-link:hover {
	color: #794878;
}
.promo{
	max-height:300px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	padding:20px 0px;
}
.carousel-caption{
	padding-bottom:60px;
}

.pad-after{
	margin-bottom:10px;
}


@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #e8dce9;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #794878;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #794878;
		background-color: #d9b6da;
	}
}